ENVIROMENT='development' # 'production'

#Server Listen Port
SERVER_PORT='5000'

#Postgres Config
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=true

#JWT Secret Key
JWT_SECRET=        #Run 'node keygen' to generate key
JWT_EXPIRY=        #In Seconds 72hrs in sec 259200

#Redis Setup
REDIS_ENABLED=false

#Backend URL
SERVER_URL=

#Frontend URL
CLIENT_URL=


#Mailer
MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=
MAIL_EMAIL=
MAIL_FROM=
MAIL_PASSWORD=

#OPENAI KEY
OPENAI_API_KEY=

#GEMINI KEY
GEMINI_API_KEY=

#Public Storage
STATIC_FILES_PATH=../public

#temp auth key
AUTH_KEY=

#Bunny CDN
BUNNY_API_KEY=
BUNNY_STORAGE_ZONE_NAME=
